<body>
  <!-- Start Content -->
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="right-sideabr">
            <div class="inner-box">
              <h4>Quản lý tài khoản</h4>
              <ul class="lest item">
                <li><a href="/modifycompany/{{this.account.id}}">Cập nhật thông tin</a></li>
                <li><a href="/nortifications">Thông báo <span class="notinumber">{{numberOfNotifyTinder}}</span></a></li>
              </ul>
              <h4>Quản lý công việc</h4>
                <ul class="lest item">
                    <li><a href="/managejob">Quản lý tin đăng tuyển</a></li>
                    <li><a href="/manageapplications">Quản lý đơn xin việc<span class="notinumber">{{numberOfNotify}}</span></a></li>
                    <li><a href="/savedcandidate">Ứng viên đã lưu</a></li>
                </ul>
              <ul class="lest">
                <li><a href="/changepassword">Đổi mật khẩu</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="job-alerts-item">
            <h3 class="alerts-title">Quản lý đơn xin việc</h3>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Tìm theo tên tuyển dụng" [(ngModel)]="searchName" />
              </div>
           <hr>
              <div *ngIf="listCandidateApplyOfCompany==null">Chưa có ứng viên ứng tuyển vào công việc của bạn!</div>
              <div *ngFor="let apply of listCandidateApplyOfCompany | applyFilter: searchName | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">
              <div class="row">
              <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                  <div class="manager-resumes-item">
                      <div class="manager-content">
                          <a (click)="viewDetailResume(apply.job.jobId,apply.ungVien.ungVienId)"><img class="resume-thumb" src="{{apply.ungVien.imgUrl}}" alt=""></a>
                          <div class="manager-info">
                              <div class="manager-name">
                                  <h4 (click)="viewDetailResume(apply.job.jobId,apply.ungVien.ungVienId)">{{apply.ungVien.tenUngVien}}</h4>
                                  <h5 *ngIf="apply.ungVien.nganh">Ngành: {{apply.ungVien.nganh.tenNganh}}</h5>
                              </div>
                              <div class="manager-meta">
                                  <span class="location"><i class="ti-location-pin"></i>{{apply.ungVien.diaChi}} </span>
                                  <span class="rate"><i></i>Năm kinh nghiệm: {{apply.ungVien.kiNang[0] !=null ? apply.ungVien.kiNang[0].soNamKinhNghiem : '0'}} year</span>
                                  <span class="rate"><i></i>Kỹ năng: {{apply.ungVien.kiNang[0] !=null ? apply.ungVien.kiNang[0].kiNang.tenKiNang : 'Không có thông tin'}}</span>
                              </div>
                          </div>
                      </div>
                      <div class="item-body" >
                          <div class="row">
                              <div class="col-md-7">
                                  <h4><a href="/managejobdetail/{{apply.job.jobId}}">Đã Apply Job: {{apply.job.tenJob}}</a></h4>
                              </div>
                              <div class="col-md-2">
                                  <span><p class="ti-eye" style="font-weight: bold">{{apply.trangThaiXem ==1 ? 'Đã Xem' : 'Chưa Xem'}}</p></span>
                              </div>
                              <div class="col-md-3">
                                  <span><p class="ti-eye" style="font-weight: bold">{{apply.trangThai ==0 ? 'Chưa duyệt' : apply.trangThai==1 ? 'Đã duyệt' : 'Đã từ chối'}}</p></span>
                              </div>
                          </div>
                      </div>
                  </div>
              <!--</div>-->
              </div>
              </div>
              <ngb-pagination *ngIf="listCandidateApplyOfCompany" [(page)]="page" [pageSize]="pageSize" [collectionSize]="listCandidateApplyOfCompany.length"></ngb-pagination>


              <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content -->

    <!-- Copyright Start  -->
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright End -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
  </a>

  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
        <div class="object" id="object_five"></div>
        <div class="object" id="object_six"></div>
        <div class="object" id="object_seven"></div>
        <div class="object" id="object_eight"></div>
      </div>
    </div>
  </div>
</body>
