<body>
<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Quản lý đơn xin việc</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Manage Apply</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="right-sideabr">
                        <div class="inner-box">
                            <h4>Quản lý tài khoản</h4>
                            <ul class="lest item">
                                <li><a href="/manageresumes">Quản lý hồ sơ</a></li>
                                <li><a href="/bookmarkedjob">Công việc đã lưu</a></li>
                                <li><a href="/savedcompany">Công ty đã lưu</a></li>
                            </ul>
                            <h4>Quản lý công việc</h4>
                            <ul class="lest item">
                                <li><a href="/appliedjobs">Quản lý đơn xin việc</a></li>
                                <li>
                                    <a href="/candidatenotification"
                                        >Thông báo <span class="notinumber">{{ notificationCount }}</span></a
                                    >
                                </li>
                            </ul>
                            <ul class="lest">
                                <li><a href="/changepassword">Đổi mật khẩu</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="job-alerts-item">
                        <h3 class="alerts-title">Quản lý xin việc</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tìm theo tiêu đề" [(ngModel)]="searchName" />
                            <hr>
                        </div>
                        <hr>
                        <div class="row">
                        <div *ngFor="let jobs of jobList | jobApplyFilter: searchName | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">
                            <div class="job-list" style="width:100%; height: 300px;">

                                <div class="thumb">
                                    <a href="/jobdetail/{{ jobs.job.jobId }}"><img style="width:100px;height:100px;" src="{{ jobs.job.congTy.imgUrl }}" alt=""/></a>
                                </div>
                                <div class="job-list-content">
                                    <h4>
                                        <a href="/jobdetail/{{ jobs.job.jobId }}">{{ jobs.job.tenJob }}</a>
                                    </h4>
                                    <p>{{ jobs.job.congTy.tenCongTy }}</p>
                                    <p>
                                        Thời Gian Làm Việc: <span class="full-time">{{ jobs.job.tgLamViec == 1 ? "Full-Time" : jobs.job.tgLamViec == 0 ? "Part-Time" : "" }}</span>
                                    </p>
                                    <div class="job-tag">
                                        <div class="pull-left">
                                            <div class="meta-tag">
                                                <span>Số Lượng:{{ jobs.job.soLuong }}</span>
                                                <br />
                                                <span><i class="ti-location-pin"></i>{{ jobs.job.diaChi }}</span>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="icon">
                                                <i class="ti-heart-broken" (click)="onBookmark(jobs.job)" *ngIf="savedJobsId.indexOf(jobs.job.jobId) == -1"></i>
                                                <i class="ti-heart" (click)="onBookmark(jobs.job)" *ngIf="savedJobsId.indexOf(jobs.job.jobId) !== -1"></i>
                                            </div>
                                            <div class="btn btn-common btn-rm" (click)="onApply(jobs.job)">Cancel Apply Job</div>
                                        </div>
                                    </div>
                                </div>
                                <br><br><br><br>
                                <div class="job-list-content">
                                    <div class="job-tag">
                                        <span>Trạng thái phê duyệt: {{jobs.lyDo}}</span>
                                    </div>
                                </div>
                                </div>
                            <hr><hr>
                            </div>
                        </div>
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="jobList.length" *ngIf="jobList"></ngb-pagination>
                        <!-- Start Pagination -->
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="ti-arrow-up"></i>
    </a>

    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
                <div class="object" id="object_five"></div>
                <div class="object" id="object_six"></div>
                <div class="object" id="object_seven"></div>
                <div class="object" id="object_eight"></div>
            </div>
        </div>
    </div>
</body>
