<body>
<div id="content" class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
            <h1 jhiTranslate="activate.title" style = "text-align: center">Activation</h1>

            <div class="alert alert-success" *ngIf="success">
                <span jhiTranslate="activate.messages.success"><strong>Tài khoản của bạn đã được xác thực </strong></span>
                <a class="alert-link" href="/login" jhiTranslate="global.messages.info.authenticated.link">Đăng nhập</a>
                tại đây
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error">
                <strong>Tài khoản của bạn chưa được xác thực. </strong> Xin hãy
                <a class="alert-link" href="/login" jhiTranslate="global.messages.info.authenticated.link">Đăng ký</a>
                tài khoản tại đây.
            </div>
            </div>
        </div>
    </div>
</div>
</body>
