<body>
  <!-- Page Header Start -->
  <div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb-wrapper">
            <h2 class="product-title">Tạo Hồ Sơ Ứng Viên</h2>
            <ol class="breadcrumb">
              <li><a href="#"><i class="ti-home"></i> Trang Chủ</a></li>
              <li class="current">Hồ Sơ</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Content section Start -->
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-2">
          <div class="page-ads box">
            <div class="post-header">
              <p>Bạn đã có tài khoản? <a href="my-account.html">Click here để tạo tài khoản</a></p>
            </div>

            <form class="form-ad">
              <form [formGroup]="modifyResumeForm" (ngSubmit)="onSubmit(buttonType)" ngNativeValidate>
              <div class="divider"><h3>Thông tin cơ bản</h3></div>
              <div class="form-group">
                <label class="control-label" for="textarea">Tên</label>
                <input type="text" class="form-control" placeholder="Tên của bạn" formControlName="name" id="name" required>
              </div>
              <div class="form-group">
                <label class="control-label" for="textarea"></label>
                <label class="control-label" for="textarea">Email</label>
                <input type="email" class="form-control" placeholder="Your@domain.com" formControlName="email" id="email" required>
              </div>

              <div class="form-group">
                <label class="control-label" for="textarea">Số Điện Thoại</label>
                <input type="text" class="form-control"  placeholder="Số điện thoai" formControlName="phone" id="phone" required>
              </div>

              <div class="form-group">
                <label class="control-label" for="textarea">Chuyên ngành</label>
                <select class="form-control" id="career" formControlName="career" name="career">
                  <option value="" selected>Select Major</option>
                  <option *ngFor="let major of allMajors" [value]="major.tenNganh"> {{major.tenNganh}}</option>
                </select>
                <!-- <input type="text" class="form-control"  placeholder="Tiêu đề (e.g. Lập trình viên)" formControlName="career" id="career" required> -->
              </div>
              <!-- <div class="form-group">
                <label class="control-label" for="textarea">Vị trí(Mong muốn)</label>
                <input type="text" class="form-control"  placeholder="Vị trí, e.g" formControlName="wantedPosition" id="wantedPosition" required>
              </div> -->
              <!--<div class="form-group">-->
                <!--<label class="control-label" for="textarea">Web</label>-->
                <!--<input type="text" class="form-control"  placeholder="Website address">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label class="control-label" for="textarea">Pre Hour</label>-->
                <!--<input type="text" class="form-control"  placeholder="Salary, e.g. 85">-->
              <!--</div>-->
              <!-- <div class="form-group">
                <label class="control-label" for="textarea">Tuổi</label>
                <input type="text" class="form-control"  placeholder="Tuổi của bạn" formControlName="age" id="age" required>
              </div> -->

              <div class="form-group">
                <label class="control-label" for="textarea">Lương mong muốn</label>
                <input type="number" class="form-control"  placeholder="$$$" formControlName="wantedSalary" id="wantedSalary" required>
              </div>

              <!-- <div class="form-group">
                <label class="control-label" for="textarea">Số năm kinh nghiệm</label>
                <input type="number" class="form-control"  placeholder="Nhập số năm kinh nghiệm" formControlName="yearsOfExperience" id="yearsOfExperience" required>
              </div> -->

              <!-- <div class="form-group">
                <label class="control-label" for="textarea">Hình thức làm việc</label>
                <select class="form-control" formControlName="workForm" id="workForm" required>
                  <option value="0">Part Time</option>
                  <option value="1">Full Time</option>

                </select>
              </div> -->
              <!-- <div class="form-group">
                <label class="control-label" for="textarea">Kiến thức chuyên môn</label>
                <textarea class="form-control" rows="5" formControlName="expertise" id="expertise" required></textarea>
              </div> -->

              <div class="form-group">
                <label class="control-label" for="textarea">Mục tiêu nghề nghiệp</label>
                <textarea class="form-control" rows="5" formControlName="careerGoals" id="careerGoals" required></textarea>
              </div>


              <div class="form-group">
                <div class="button-group">
                  <div class="action-buttons">
                    <div class="upload-button">
                      <a class="btn btn-common" (click)="onSubmit('Browse')">Chọn ảnh</a>
                      <input id="cover_img_file" type="file">
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider"><h3>Education</h3></div>
              <div class="form-group">
                <label class="control-label" for="textarea">Bằng cấp</label>
                <input type="text" class="form-control"  placeholder="Bằng, e.g. cử nhân" formControlName="certificate" id="certificate" required>
              </div>
              <div class="form-group">
                <label class="control-label" for="textarea">Ngành học</label>
                <input type="text" class="form-control"  placeholder="Ngành, e.g Kế toán" formControlName="major" id="major" required>
              </div>
              <div class="form-group">
                <label class="control-label" for="textarea">Trường</label>
                <input type="text" class="form-control" placeholder="Tên trường, e.g. Đh Bách Khoa Hà Nội" formControlName="school" id="school" required>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="control-label" for="textarea">From</label>
                    <input type="date" data-date=""  placeholder="dd/MM/YYYY" class="form-control" formControlName="fromDate" id="fromDate" required>
                  </div>
                  <div class="col-md-6">
                    <label class="control-label" for="textarea">To</label>
                    <input type="date" data-date=""  placeholder="dd/MM/YYYY" class="form-control" formControlName="toDate" id="toDate" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="textarea">Description</label>
                <textarea class="form-control" rows="7" formControlName="description" id="description" required></textarea>
              </div>

              <div class="add-post-btn">
                <div class="pull-left">
                  <a href="#" class="btn-added"><i class="ti-plus"></i> Add New Education</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
                </div>
              </div>
              <div class="divider"><h3>Kinh nghiệm làm việc</h3></div>
              <div class="form-group">
                <label class="control-label" for="textarea">Tên công ty</label>
                <input type="text" class="form-control"  placeholder="Tên công ty" formControlName="companyName" id="companyName" required>
              </div>
              <div class="form-group">
                <label class="control-label" for="textarea">Vị trí làm việc</label>
                <input type="text" class="form-control"  placeholder="e.g Lập trình viên BackEnd" formControlName="workPosition" id="workPosition" required>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="control-label" for="textarea">Thời gian bắt đầu</label>
                    <input type="date" data-date=""  placeholder="dd/MM/YYYY" class="form-control" formControlName="startDate" id="startDate" required>
                  </div>
                  <div class="col-md-6">
                    <label class="control-label" for="textarea">Thời gian kết thúc</label>
                    <input type="date" data-date=""  placeholder="dd/MM/YYYY" class="form-control" formControlName="endDate" id="endDate" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="textarea">Mô tả công việc</label>
                <textarea class="form-control" rows="7" formControlName="workDescription" id="workDescription" required></textarea>
              </div>
              <!--<section id="editor" style="margin-bottom: 30px;">-->
                <!--<div id="summernote"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quia aut modi fugit, ratione saepe perferendis odio optio repellat dolorum voluptas excepturi possimus similique veritatis nobis. Provident cupiditate delectus, optio?</p></div>-->
              <!--</section>-->
              <!--<div class="form-group">-->
                <!--<div class="button-group">-->
                  <!--<div class="action-buttons">-->
                    <!--<div class="upload-button">-->
                      <!--<button class="btn btn-common">Choose a cover Logo</button>-->
                      <!--<input id="cover_img_file" type="file">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <div class="add-post-btn">
                <div class="pull-left">
                  <a href="#" class="btn-added"><i class="ti-plus"></i> Add New Experience</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
                </div>
              </div>



              <!-- <div class="divider"><h3>Kỹ Năng</h3></div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="control-label" for="textarea">Tên kĩ năng</label>
                    <input class="form-control" placeholder="Tên kĩ năng, e.g. code BackEnd" type="text" formControlName="skillName" id="skillName" required>
                  </div>
                  <div class="col-md-6">
                    <label class="control-label" for="textarea">Số năm kinh nghiệm</label>
                    <input class="form-control" placeholder="Skill proficiency, e.g. 90" type="text" formControlName="competentlyPercent" id="competentlyPercent" required>
                  </div>
                </div>
              </div>
               -->

                <div class="divider"><h3>Kỹ Năng</h3></div>
                <div formArrayName="skill" *ngFor="let s of modifyResumeForm.get('skill').controls; let i = index">
                    <div [formGroupName]="i">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="textarea">Tên kĩ năng</label>
                                    <input class="form-control" placeholder="Tên kĩ năng, e.g. code BackEnd" type="text" formControlName="skillName" id="skillName" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="textarea">Số năm kinh nghiệm</label>
                                    <input class="form-control" placeholder="Years of experience" type="text" formControlName="expYear" id="competentlyPercent" required>
                                </div>
                            </div>
                    </div>
                </div>






              <div class="add-post-btn">
                <div class="pull-left">
                  <button (click)="createInputSkill()" class="btn-added"><i class="ti-plus"></i> Add New Skills</button>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
                </div>
              </div>

                <button class="btn btn-common" (click)="onSubmit('Submit')">Lưu lại</button>
              </form>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content section End -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
  </a>

  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
        <div class="object" id="object_five"></div>
        <div class="object" id="object_six"></div>
        <div class="object" id="object_seven"></div>
        <div class="object" id="object_eight"></div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('#summernote').summernote({
        height: 250,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
      });
    });
  </script>

</body>
