<body>
<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Danh sách tin tuyển dụng</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">List Job</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Page Header Start -->
<div class="container">
    <div class="row">
        <div class="search">
            <form [formGroup]="searchJobForm" (ngSubmit)="onSubmit(buttonType)" ngNativeValidate>
                <label>Tìm kiếm tin tuyển dụng</label>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Ngành nghề / Từ khóa / Tên công ty" formControlName="keyword" id="keyword" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Địa điểm" formControlName="location" id="location" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="search-category-container">
                            <label class="styled-select">
                                <select class="form-control" formControlName="career" id="career">
                                    <option value="0">All Categories</option>
                                    <option *ngFor="let major of listMajor" [value]="major.nganhId" [attr.selected]="major.tenNganh">
                                        {{ major.tenNganh }}
                                    </option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-5">
                        <button type="button" style = "width: 45px !important; height: 38px !important;" class="btn btn-search-icon" (click)="onSubmit('Search')">
                            <i class="ti-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <!-- Find Job Section Start -->
    <section class="find-job section">
        <div class="container">
            <div class="row">
                <div *ngFor="let jobs of listJobs | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="job-list"  style="height:340px;width:100%;">
                            <div class="thumb">
                                <a href="/jobdetail/{{ jobs.jobId }}"><img style="width:100px;height:100px;" src="{{ jobs.congTy.imgUrl }}" alt=""/></a>
                            </div>
                            <div class="job-list-content">
                                <h4>
                                    <a href="/jobdetail/{{ jobs.jobId }}">{{ jobs.tenJob }}</a>
                                </h4>
                                <p>
                                    <a href="/companydetail/{{ jobs.congTy.congtyId }}">{{ jobs.congTy.tenCongTy }}</a>
                                </p>
                                <p>
                                    Thời Gian Làm Việc: <span class="full-time">{{ jobs.tgLamViec == 0 ? "Full-Time" : jobs.tgLamViec == 1 ? "Part-Time" : "" }}</span>
                                </p>
                                <div class="job-tag" >
                                    <div class="pull-left">
                                        <div class="meta-tag">
                                            <p><span>Số Lượng:{{ jobs.soLuong }}</span></p>
                                            <p><span><i class="ti-location-pin"></i>{{ jobs.diaChi }}</span></p>
                                            <!-- <p><span><i class="ti-time"></i>60/Hour</span></p> -->
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="icon">
                                            <i class="ti-heart-broken" (click)="onBookmark(jobs)" *ngIf="savedJobsId.indexOf(jobs.jobId) == -1"></i>
                                            <i class="ti-heart" (click)="onBookmark(jobs)" *ngIf="savedJobsId.indexOf(jobs.jobId) !== -1"></i>
                                        </div>
                                        <div class="btn btn-common btn-rm" (click)="onApply(jobs)" *ngIf="appliedJobsId.indexOf(jobs.jobId) !== -1">Cancel Apply Job</div>
                                        <div class="btn btn-common btn-rm" (click)="onApply(jobs)" *ngIf="appliedJobsId.indexOf(jobs.jobId) == -1">Apply Job</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="listJobs.length" *ngIf="listJobs"></ngb-pagination>
        </div>
    </section>

    <!-- Find Job Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="ti-arrow-up"></i>
    </a>

    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
                <div class="object" id="object_five"></div>
                <div class="object" id="object_six"></div>
                <div class="object" id="object_seven"></div>
                <div class="object" id="object_eight"></div>
            </div>
        </div>
    </div>
</body>
