<body>
<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Manage Applications</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Manage Application Detail</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Start Content -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="right-sideabr">
                    <div class="inner-box">
                        <h4>Quản lý tài khoản</h4>
                        <ul class="lest item">
                            <li><a href="/modifycompany/{{this.account.id}}">Cập nhật thông tin</a></li>
                            <li><a href="/nortifications">Thông báo <span class="notinumber">{{numberOfNotifyTinder}}</span></a></li>
                        </ul>
                        <h4>Quản lý công việc</h4>
                        <ul class="lest item">
                            <li><a href="/managejob">Quản lý tin đăng tuyển</a></li>
                            <li><a href="/manageapplications">Quản lý đơn xin việc<span class="notinumber">{{numberOfNotify}}</span></a></li>
                        </ul>
                        <ul class="lest">
                            <li><a href="/changepassword">Đổi mật khẩu</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12">
                <div>
                    <div class="content-area">
                        <div class="clearfix">
                            <div class="box">
                                <h3><b>{{job.tenJob}}</b></h3>
                                <hr>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Kinh Nghiệm:</b> {{job.knToiThieu}}</p>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Hình Thức Làm Việc: <span class="full-time">{{job.tgLamViec == 1 ? 'Full-Time' : (job.tgLamViec == 0 ? 'Part-Time' : '')}}</span></b></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Chức Vụ: </b>{{job.chucVu1}} </p>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Yêu Cầu Giới Tính: </b>{{job.gioiTinh == 0 ? 'Không yêu cầu' : (job.gioiTinh == 1 ? 'Nhân viên nam' : (job.gioiTinh ==2 ? 'Nhân viên nữ' : ''))}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Yêu Cầu Bằng Cấp: </b></p>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Số Lượng Cần Tuyển: </b>{{job.soLuong}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Lương tối thiểu: </b>{{job.luongToiThieu}}.00 $</p>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Lương tối đa: </b>{{job.luongToiDa}}.00 $</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Ngày đăng: </b>{{job.ngayDang}}</p>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><b>Ngày hết hạn: </b>{{job.hanCuoi}}</p>
                                    </div>
                                </div>
                                <hr>
                                <h4><b>Mô Tả Công Việc.</b></h4>

                                <!--<p>{{job.chiTiet}}</p>-->
                                <p style="white-space: pre-wrap">{{job.chiTiet}}</p>
                                <hr>
                                <h4><b>Yêu Cầu Công Việc</b></h4>
                                <p style="white-space: pre-wrap">{{job.yeuCauCongViec}}</p>
                                <hr>
                                <h4><b>Quyền Lợi Được Hưởng</b></h4>
                                <p style="white-space: pre-wrap">{{job.quyenLoi}}</p>
                                <hr>
                                <h4><b>Yêu Cầu Hồ Sơ</b></h4>
                                <p style="white-space: pre-wrap">{{job.yeuCauHoSo}}</p>
                                <hr>
                                <h4>Sửa Bài đăng</h4>
                                <button class="btn btn-common" (click)="onEditJob()">Chỉnh sửa bài viết</button>
                                <button class="btn btn-common" (click)="onDeleteJob()">Xóa bài viết</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-area">
                        <div class="clearfix">
                            <div class="box">
                        <h3 class="alerts-title">Ứng viên ứng tuyển</h3>
                                <hr>
                                <div *ngFor="let apply of listApply | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">
                                    <div class="row">
                                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                        <div class="manager-resumes-item">
                                            <div class="manager-content">
                                                <a href="/detailresume/{{apply.ungVien.ungVienId}}"><img class="resume-thumb" src="{{apply.ungVien.imgUrl}}" alt=""></a>
                                                <div class="manager-info">
                                                    <div class="manager-name">
                                                        <h4><a href="/detailresume/{{apply.ungVien.ungVienId}}">{{apply.ungVien.tenUngVien}}</a></h4>
                                                        <h5 *ngIf="apply.ungVien.nganh">{{apply.ungVien.nganh.tenNganh}}</h5>
                                                    </div>
                                                    <div class="manager-meta">
                                                        <span class="location"><i class="ti-location-pin"></i>{{apply.ungVien.diaDiem}} </span>
                                                        <span class="rate"><i class="ti-money"></i>{{apply.ungVien.luongMongMuon}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-body">
                                                <p>{{apply.ungVien.moTa}}</p>
                                            </div>
                                        </div>
                                        <!--</div>-->
                                    </div>
                                </div>
                                <ngb-pagination *ngIf="listApply" [(page)]="page" [pageSize]="pageSize" [collectionSize]="listApply.length"></ngb-pagination>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->

<!-- Copyright Start  -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
</a>

<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
            <div class="object" id="object_five"></div>
            <div class="object" id="object_six"></div>
            <div class="object" id="object_seven"></div>
            <div class="object" id="object_eight"></div>
        </div>
    </div>
</div>
</body>
