<body>

<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Danh Sách Ứng Viên</h2>
          <ol class="breadcrumb">
            <li><a href="#"><i class="ti-home"></i> Trang Chủ</a></li>
            <li class="current">Danh Sách Ứng Viên</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="search">
      <label>Tìm Kiếm Ứng Viên</label>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <input type="text" class="form-control" placeholder="Search by title, Skill">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <input type="text" class="form-control" placeholder="Chuyên ngành">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <select class="form-control">
            <option value="0"> Chưa có kinh nghiệm</option>
            <option value="01">1 Năm kinh nghiêm</option>
            <option value="2">2 Năm kinh nghiệm</option>
            <option value="3">3 Năm kinh nghiệm</option>
            <option value="4">4 Năm kinh nghiệm</option>
            <option value="5">Hơn 5 Năm kinh nghiệm</option>

          </select>
        </div>
      </div>
      <div class="row" style="text-align: right">
        <form class="subscribe-box">
          <button class="btn-common">Tìm Kiếm</button>
          <button class="btn-common">Làm Mới</button>

        </form>
      </div>

    </div>
    <hr>
    <label>Danh Sách Ưng Viên</label>
    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="manager-resumes-item">
          <div class="manager-content">
            <a href="resume.html"><img class="resume-thumb" src="assets/img/jobs/avatar-1.jpg" alt=""></a>
            <div class="manager-info">
              <div class="manager-name">
                <h4><a href="/detailcandidate">Bikesh Soltaniane</a></h4>
                <h5>Java developer</h5>
              </div>
              <div class="manager-meta">
                <span class="location"><i class="ti-location-pin"></i> Cupertino, CA, USA</span>
                <span class="rate"><i class="ti-time"></i> $55 per hour</span>
              </div>
            </div>
          </div>
          <div class="item-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, qui aspernatur accusantium! Molestiae, cum cupiditate nam optio dignissimos magnam velit, perspiciatis amet qui aut nobis, quisquam, laudantium vitae eos ipsam.</p>


          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="manager-resumes-item">
          <div class="manager-content">
            <a href="resume.html"><img class="resume-thumb" src="assets/img/jobs/avatar-2.jpg" alt=""></a>
            <div class="manager-info">
              <div class="manager-name">
                <h4><a href="/detailcandidate">Hernandeziyan</a></h4>
                <h5>.Net developer</h5>
              </div>
              <div class="manager-meta">
                <span class="location"><i class="ti-location-pin"></i> Cupertino, CA, USA</span>
                <span class="rate"><i class="ti-time"></i> $55 per hour</span>
              </div>
            </div>
          </div>
          <div class="item-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, qui aspernatur accusantium! Molestiae, cum cupiditate nam optio dignissimos magnam velit, perspiciatis amet qui aut nobis, quisquam, laudantium vitae eos ipsam.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="manager-resumes-item">
          <div class="manager-content">
            <a href="resume.html"><img class="resume-thumb" src="assets/img/jobs/avatar-3.jpg" alt=""></a>
            <div class="manager-info">
              <div class="manager-name">
                <h4><a href="/detailcandidate">Mary Amiri</a></h4>
                <h5>Quality assurance</h5>
              </div>
              <div class="manager-meta">
                <span class="location"><i class="ti-location-pin"></i> Cupertino, CA, USA</span>
                <span class="rate"><i class="ti-time"></i> $55 per hour</span>
              </div>
            </div>
          </div>
          <div class="item-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, qui aspernatur accusantium! Molestiae, cum cupiditate nam optio dignissimos magnam velit, perspiciatis amet qui aut nobis, quisquam, laudantium vitae eos ipsam.</p>


          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- End Content -->

<footer>
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title"><img src="assets/img/logo.png" class="img-responsive" alt="Footer Logo"></h3>
            <div class="textwidget">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed, auctor ut purus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Quick Links</h3>
            <ul class="menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">License</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Trending Jobs</h3>
            <ul class="menu">
              <li><a href="#">Android Developer</a></li>
              <li><a href="#">Senior Teamleader</a></li>
              <li><a href="#">iOS Developer</a></li>
              <li><a href="#">Junior Tester</a></li>
              <li><a href="#">Full Stack Developer</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Follow Us</h3>
            <div class="bottom-social-icons social-icon">
              <a class="twitter" href="https://twitter.com/GrayGrids"><i class="ti-twitter-alt"></i></a>
              <a class="facebook" href="https://web.facebook.com/GrayGrids"><i class="ti-facebook"></i></a>
              <a class="youtube" href="https://youtube.com"><i class="ti-youtube"></i></a>
              <a class="dribble" href="https://dribbble.com/"><i class="ti-dribbble"></i></a>
              <a class="linkedin" href="https://www.linkedin.com/"><i class="ti-linkedin"></i></a>
            </div>
            <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
            <form class="subscribe-box">
              <input type="text" placeholder="Your email">
              <input type="submit" class="btn-system" value="Send">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area End -->

  <!-- Copyright Start  -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End -->

</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="ti-arrow-up"></i>
</a>

<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
      <div class="object" id="object_five"></div>
      <div class="object" id="object_six"></div>
      <div class="object" id="object_seven"></div>
      <div class="object" id="object_eight"></div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#summernote').summernote({
      height: 250,                 // set editor height
      minHeight: null,             // set minimum height of editor
      maxHeight: null,             // set maximum height of editor
      focus: true                  // set focus to editable area after initializing summernote
    });
  });
</script>


</body>
