<body>
<div id="content" class="my-account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
        <div class="my-account-form">
          <ul class="cd-switcher">
            <li><a class="selected" href="#0">Đăng nhập</a></li>
            <li><a href="#0">Đăng ký</a></li>
          </ul>
          <!-- Login -->
          <div id="cd-login" class="is-selected">
            <div class="page-login-form">
              <form role="form" class="login-form" (ngSubmit)="onLogin()" [formGroup]="loginForm" ngNativeValidate>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username hoặc email" formControlName="usernameLogin" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mật khẩu" formControlName="passwordLogin" required>
                </div>
                <button class="btn btn-common log-btn">Login</button>
                <div class="checkbox-item">
                  <div class="checkbox">
                    <label for="rememberMe" class="rememberMe">
                      <input name="rememberMe" id="rememberMe" formControlName="rememberMe" value="forever" type="checkbox"> Lưu đăng nhập</label>
                  </div>
                  <p class="cd-form-bottom-message"><a href="#0">Quên mật khẩu?</a></p>
                </div>
              </form>
            </div>
          </div>

          <!-- Register -->
          <div id="cd-signup">
            <div class="page-login-form register">
              <form role="form" class="login-form" (ngSubmit)="onRegister()" [formGroup]="registerForm" ngNativeValidate>
                <div class="form-group">
                    <input type="text" id="Username" class="form-control" name="name" placeholder="Username" formControlName="Username" required>
                </div>
                <div class="form-group">
                    <input type="email" id="Email" class="form-control" name="email" placeholder="Email" formControlName="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" formControlName="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Repeat Password" formControlName="RepeatPassword" required>
                </div>

                <div class="form-group">
                  <div class="checkbox-item">
                    <div class="checkbox">
                      <label>
                        <input type="radio" name="role" value="ROLE_CANDIDATE" formControlName="role" required> Ứng viên</label>
                      <label>
                        <input type="radio" name="role" value="ROLE_EMPLOYER" formControlName="role"> Nhà tuyển dụng</label>
                    </div>
                  </div>
                </div>


                <button class="btn btn-common log-btn">Register</button>
              </form>
            </div>
          </div>
          <div class="page-login-form" id="cd-reset-password"> <!-- reset password form -->
              <form role="form" class="reset-form" (ngSubmit)="requestReset()" [formGroup]="resetForm" ngNativeValidate>
                  <div class="form-group">
                      <div class="input-icon">
                          <i class="ti-user"></i>
                          <input type="email" class="form-control" placeholder="Nhập email khôi phục" formControlName="email" required>
                      </div>
                  </div>
                  <button class="btn btn-common log-btn">Reset Password</button>
              </form>
            <p class="cd-form-bottom-message"><a href="#0">Trờ về trang đăng nhập</a></p>
          </div> <!-- cd-reset-password -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="ti-arrow-up"></i>
</a>

<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
      <div class="object" id="object_five"></div>
      <div class="object" id="object_six"></div>
      <div class="object" id="object_seven"></div>
      <div class="object" id="object_eight"></div>
    </div>
  </div>
</div>
</body>
