<div style="text-align: center" class="col-md-6 col-sm-6" >
  <h3>Xem Liên Hệ</h3>
  <h4 style="text-align: left">Thông tin liên hệ ứng viên</h4>
  <div>
    <div class="manager-resumes-item">
      <div class="manager-content">
        <a href="resume.html"><img class="resume-thumb" src="assets/img/jobs/avatar-1.jpg" alt=""></a>
        <div class="manager-info">
          <div class="manager-name">
            <h4><a href="/detailcandidate">Bikesh Soltaniane</a></h4>
            <h5>Java developer</h5>
            <h5>Số điện thoại: <label>0933434343</label></h5>
          </div>
          <div class="manager-meta">
            <span class="location"><i class="ti-location-pin"></i> Cupertino, CA, USA</span>
            <span class="rate"><i class="ti-timer"></i> 29/02/1997</span>
            <span class="rate">Email: <label>phucnh@hust.edu.vn</label></span>
          </div>
        </div>
      </div>
      <div>
        <input type="submit" class="btn btn-common" value="Quay Lại">
      </div>

    </div>
  </div>
</div>
