<body>
<!-- Content section Start -->
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-2">
            <div class="page-ads box">

              <form class="form-ad">
                <form [formGroup]="modifyCompanyForm" (ngSubmit)="onSubmit(buttonType)" ngNativeValidate>
                <div class="divider"><h3>Thông tin nhà tuyển dụng</h3></div>
                <div class="form-group">
                  <label class="control-label" for="textarea">Tên</label>
                  <input type="text" class="form-control" placeholder="Tên của bạn" formControlName="tenCongTy" id="tenCongTy" [disabled]="true" required>
                </div>

                <div class="form-group">
                  <label class="control-label" for="textarea">Số Điện Thoại</label>
                  <input type="text" class="form-control"  placeholder="Số điện thoai" formControlName="phone" id="phone" required>
                </div>

                <div class="form-group">
                  <label class="control-label" for="textarea">Địa chỉ</label>
                  <input type="text" class="form-control"  placeholder="Địa chỉ" formControlName="address" id="address" required>
                </div>

                    <div class="form-group" >
                        <label class="control-label">Chuyên ngành</label>
                        <div class="search-category-container">
                            <label class="styled-select">
                                <select class="dropdown-product selectpicker" id="tenNganh" formControlName="tenNganh" name="tenNganh" required >
                                    <option>Lựa Chọn</option>
                                    <option *ngFor="let major of listMajor"
                                            [value]="major.nganhId">
                                        {{major.tenNganh}}
                                    </option>
                                </select>
                            </label>
                        </div>
                    </div>

                <div class="form-group">
                    <label class="control-label" for="textarea">Mô tả</label>
                    <textarea class="form-control" rows="5" placeholder="Mô tả" formControlName="moTa" id="moTa"></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" for="textarea">Phúc lợi</label>
                    <textarea class="form-control" rows="5" placeholder="Phúc lợi" formControlName="phucLoi" id="phucLoi"></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" for="textarea">Quy mô (Số lượng nhân viên)</label>
                    <input type="text" class="form-control"  placeholder="Quy mô" formControlName="quyMo" id="quyMo">
                </div>


                <div class="form-group">
                  <div class="button-group">
                    <div class="action-buttons">
                      <div class="upload-button">
                        <a class="btn btn-common" (click)="onSubmit('Browse')">Chọn ảnh</a>
                        <input id="cover_img_file" type="file" (change)="onFileChanged($event)">
                      </div>
                    </div>
                  </div>
                </div>
                  <button class="btn btn-common" (click)="onSubmit('Submit')">Lưu lại</button>
                </form>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="ti-arrow-up"></i>
    </a>

    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
          <div class="object" id="object_five"></div>
          <div class="object" id="object_six"></div>
          <div class="object" id="object_seven"></div>
          <div class="object" id="object_eight"></div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#summernote').summernote({
          height: 250,                 // set editor height
          minHeight: null,             // set minimum height of editor
          maxHeight: null,             // set maximum height of editor
          focus: true                  // set focus to editable area after initializing summernote
        });
      });
    </script>

  </body>
