<body>
<!-- Content section Start -->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-md-offset-2">
          <h3 class="alerts-title">Đăng tuyển</h3>
        <div class="page-ads box">
          <form class="form-ad" [formGroup]="formAddJob" ngNativeValidate >
            <!--<div class="form-group">-->
            <!--<label class="control-label">Email của bạn</label>-->
            <!--<input type="text" id="email" formControlName="email" name="email" class="form-control" placeholder="mail@example.com" required>-->
            <!--</div>-->
            <div class="form-group">
              <label class="control-label">Tiều đề công việc</label>
              <input type="text" id="tenJob" formControlName="tenJob" name="tenJob" class="form-control" placeholder="Nhập tiêu để công việc" required>
            </div>

            <div class="form-group">
              <label class="control-label">Chức Vụ</label>
              <input type="text" id="chucVu1" formControlName="chucVu1" name="chucVu1" class="form-control" placeholder="Vị trí làm việc" required>
            </div>

            <div class="form-group">
              <label class="control-label">Địa chỉ <span>(optional)</span></label>
              <input type="text" id="diaChi" formControlName="diaChi" name="diaChi" class="form-control" placeholder="e.g. Hà Nội" required>
            </div>
            <div class="form-group">
              <label class="control-label">Chuyên ngành</label>
              <div class="search-category-container">
                <label class="styled-select">
                  <select class="dropdown-product selectpicker" id="tenNganh" formControlName="tenNganh" name="tenNganh" required >
                    <option>Lựa Chọn</option>
                    <option *ngFor="let major of listMajor"
                            [value]="major.nganhId"
                            [attr.selected]="major.tenNganh">
                      {{major.tenNganh}}
                    </option>
                  </select>
                </label>
              </div>
            </div>


            <div class="form-group">
              <label class="control-label">Mô tả công việc</label>
              <textarea class="form-control" id="chiTiet" formControlName="chiTiet" name="chiTiet" rows="7" placeholder="Mô tả yêu cầu công việc..." required></textarea>
            </div>

            <div class="form-group">
              <label class="control-label">Yêu cầu ứng viên</label>
              <textarea class="form-control" id="yeuCauUngVien" formControlName="yeuCauUngVien" name="yeuCauUngVien" rows="5" placeholder="Mô tả yêu cầu của ứng viên cần có được..." required></textarea>
            </div>
            <div class="form-group">
              <label class="control-label">Quyền Lợi</label>
              <textarea class="form-control" id="quyenLoi" formControlName="quyenLoi" name="quyenLoi" rows="5" placeholder="Mô tả yêu quyền lợi của nhân viên..." required></textarea>
            </div>

            <div class="form-group">
              <label class="control-label">Yêu Cầu Hồ Sơ</label>
              <textarea class="form-control" id="yeuCauHoSo" formControlName="yeuCauHoSo" name="yeuCauHoSo" rows="5" placeholder="Mô tả yêu cầu ứng tuyển" required></textarea>
            </div>

            <div class="form-group">
              <label class="control-label">Số năm kinh nghiệm</label>
              <input type="number" id="knToiThieu" formControlName="knToiThieu" name="knToiThieu" class="form-control" placeholder="Nhập số năm kinh nghiệm" required>
            </div>

            <div class="form-group">
              <label class="control-label">Yêu Cầu Giới Tính</label>
              <div>
                <label class="styled-select">
                  <select class="dropdown-product selectpicker" id="gioiTinh" formControlName="gioiTinh" name="gioiTinh" required>
                    <option>Lựa Chọn</option>
                    <option value="0">Không yêu cầu</option>
                    <option value="1">Chỉ tuyển nam</option>
                    <option value="2">Chỉ tuyển nữ</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Số Lượng</label>
              <input type="number" id="soLuong" formControlName="soLuong" name="soLuong" class="form-control" placeholder="Nhập sô lượng cần tuyển" required>
            </div>

            <div class="form-group">
              <label class="control-label">Mức Lương Tối Thiểu</label>
              <input type="number" id="luongToiThieu" formControlName="luongToiThieu" name="luongToiThieu" class="form-control" placeholder="Nhập mức lương tối thiểu" required>
            </div>

            <div class="form-group">
              <label class="control-label">Mức Lương Tối Đa</label>
              <input type="number" id="luongToiDa" formControlName="luongToiDa" name="luongToiDa" class="form-control" placeholder="Nhập mức lương tối đa" required>
            </div>

            <div class="form-group">
              <label class="control-label">Thời Gian Làm Việc</label>
              <div class="search-category-container">
                <label class="styled-select">
                  <select class="dropdown-product selectpicker" id="tgLamViec" formControlName="tgLamViec" name="tgLamViec" required>
                    <option>Lựa Chọn</option>
                    <option value="0">Full-Time</option>
                    <option value="1">Part-Time</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Ngày hết hạn <span>(optional)</span></label>
              <input type="date" data-date="" id="hanCuoi" formControlName="hanCuoi" name="hanCuoi" placeholder="DD/MM/YYYY" class="form-control" required>

              <p class="note">Hạn nộp hồ sơ.</p>
            </div>

            <!--<a href="#" class="btn btn-common">Submit your job</a>-->
            <button  class="create-button" (click)="onSubmit()">Submit your job</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="ti-arrow-up"></i>
</a>

<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
      <div class="object" id="object_five"></div>
      <div class="object" id="object_six"></div>
      <div class="object" id="object_seven"></div>
      <div class="object" id="object_eight"></div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#summernote').summernote({
      height: 250,                 // set editor height
      minHeight: null,             // set minimum height of editor
      maxHeight: null,             // set maximum height of editor
      focus: true                  // set focus to editable area after initializing summernote
    });
  });
</script>
</body>
