<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="Jobboard">

  <title>JobBoard - Bootstrap HTML5 Job Portal Template</title>

</head>

<body>
<!-- Header Section Start -->
<div class="header">
  <div class="logo-menu">
    <nav class="navbar navbar-default main-navigation" role="navigation" data-spy="affix" data-offset-top="50">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/home"><img src="assets/img/logo.png" alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <!-- Start Navigation List -->
          <ul class="nav navbar-nav">

            <div class="btn-group">
              <button type="button" class="btn">
                  <a href="/job" style = "color:black; text-decoration:none;">Tuyển dụng</a>
              </button>
            </div>

            <div class="btn-group" *ngIf = "this.roleCandidate">
              <button type="button" class="btn">
                Ứng viên <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="/manageresumes">Quản lý hồ sơ</a></li>
                  <li><a href="/bookmarkedjob">Công việc đã lưu</a></li>
                  <li><a href="/appliedjobs">Quản lý đơn xin việc</a></li>
                  <li><a href="/jobalerts">Thông báo</a></li>
                  <li><a href="/changepassword">Đổi mật khẩu</a></li>
              </ul>
            </div>
              <div class="btn-group" *ngIf = "this.roleCandidate">
                  <button type="button" class="btn">
                      <a href="/browsercompany" style = "color:black; text-decoration:none;">Công ty</a>
                  </button>
              </div>
            <div class="btn-group" *ngIf = "this.roleEmployer">
              <button type="button" class="btn">
                Nhà tuyển dụng <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li>
                      <a href="/managejob">Quản lý tin đăng tuyển</a>
                  </li>
                <li>
                  <a href="/manageapplications">Quản lý đơn xin việc (unfinished)</a>
                </li>
                <li>
                  <a href="/browseresumes">Hồ sơ ứng viên</a>
                </li>
                <li>
                  <a href="{{urlModifyCompany}}">Cập nhật thông tin</a>
                </li>
                  <li>
                      <a href="/nortifications">Thông báo (unfinished)</a>
                  </li>
                  <li><a href="/changepassword">Đổi mật khẩu</a></li>
              </ul>
            </div>
              <div class="btn-group" *ngIf = "this.roleManager">
                  <button type="button" class="btn">
                      Người quản lý <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="/view-candidate-account">Quản lý tài khoản ứng viên</a></li>
                      <li><a href="/view-employer-account">Quản lý tài khoản nhà tuyển dụng</a></li>
                      <hr>
                      <li><a href="/manage-recruitment">Quản lý tin tuyển dụng</a></li>
                  </ul>
              </div>
          </ul>

          <ul class="nav navbar-nav navbar-right float-right">
              <li class="left" *ngIf = "this.roleEmployer"><a href="/addjob"><i class="ti-pencil-alt"></i> Đăng tuyển</a></li>
              <li class="right" *ngIf = "!this.logged"><a href="/login" ><i class="ti-lock"></i>  Đăng nhập</a></li>
              <li class="right" *ngIf = "this.logged"><a>{{this.account.login}}</a></li>
              <li class="right" *ngIf = "this.logged" (click)="onLogout()"><a href="/home">Đăng xuất</a></li>
          </ul>

        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Header Section End -->
</body>
</html>
<router-outlet></router-outlet>
<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title"><img src="assets/img/logo.png" class="img-responsive" alt="Footer Logo"></h3>
            <div class="textwidget">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, qui aspernatur accusantium! Molestiae, cum cupiditate nam optio dignissimos magnam velit, perspiciatis amet qui aut nobis, quisquam, laudantium vitae eos ipsam.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Quick Links</h3>
            <ul class="menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">License</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Trending Jobs</h3>
            <ul class="menu">
              <li><a href="#">Android Developer</a></li>
              <li><a href="#">Senior Teamleader</a></li>
              <li><a href="#">iOS Developer</a></li>
              <li><a href="#">Junior Tester</a></li>
              <li><a href="#">Full Stack Developer</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Follow Us</h3>
            <div class="bottom-social-icons social-icon">
              <a class="twitter" href="https://twitter.com/GrayGrids"><i class="ti-twitter-alt"></i></a>
              <a class="facebook" href="https://web.facebook.com/GrayGrids"><i class="ti-facebook"></i></a>
              <a class="youtube" href="https://youtube.com"><i class="ti-youtube"></i></a>
              <a class="dribble" href="https://dribbble.com/"><i class="ti-dribbble"></i></a>
              <a class="linkedin" href="https://www.linkedin.com/"><i class="ti-linkedin"></i></a>
            </div>
            <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
            <form class="subscribe-box">
              <input type="text" placeholder="Your email">
              <input type="submit" class="btn-system" value="Send">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area End -->

  <!-- Copyright Start  -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End -->

</footer>
<!-- Footer Section End -->
