<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="Jobboard">

  <title>JobBoard - Bootstrap HTML5 Job Portal Template</title>

</head>

<body>
<!-- Header Section Start -->
<div class="header">
  <div class="logo-menu">
    <nav class="navbar navbar-default main-navigation" role="navigation" data-spy="affix" data-offset-top="50">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/home"><img src="assets/img/logo.png" alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <!-- Start Navigation List -->
          <ul class="nav navbar-nav">

            <div class="btn-group">
              <button type="button" class="btn">
                Tuyển dụng <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/job">Tuyển dụng</a>
                </li>
                <li><a href="/jobdetail">Chi tiết công việc</a>
                </li>
                <li><a href="resume">Hồ sơ chi tiết ứng viên</a>
                </li>
              </ul>
            </div>

            <div class="btn-group">
              <button type="button" class="btn">
                Ứng viên <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/browsejobs">Tuyển dụng</a>
                </li>
                <li><a href="/addresume">Thêm hồ sơ</a>
                </li>
                <li>
                  <a href="/manageresumes">Quản lý hồ sơ</a>
                </li>
                <li>
                  <a href="/jobalerts">Thông báo</a>
                </li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn">
                Nhà tuyển dụng <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/addjob">Đăng tuyển</a>
                </li>
                <li>
                  <a href="/managejob">Quản lý tuyển dụng</a>
                </li>
                <li>
                  <a href="/manageapplication">Quản lý đơn xin việc</a>
                </li>
                <li>
                  <a href="/browseresumes">Xem hồ sơ ứng viên</a>
                </li>
              </ul>
            </div>
          </ul>

          <ul class="nav navbar-nav navbar-right float-right">
            <li class="left"><a href="/addjob"><i class="ti-pencil-alt"></i> Đăng tuyển</a></li>
            <li class="right"><a href="/login"><i class="ti-lock"></i>  Đăng nhập</a></li>
          </ul>

        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Header Section End -->
</body>
</html>
<router-outlet></router-outlet>
