<body>
  <!-- Page Header Start -->
  <div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb-wrapper">
            <h2 class="product-title">Resume</h2>
            <ol class="breadcrumb">
              <li><a href="#"><i class="ti-home"></i> Home</a></li>
              <li class="current">Hồ Sơ Ứng Viên</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Start Content -->
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="right-sideabr">
            <div class="inner-box">
              <h4>Quản Lý Hồ Sơ</h4>
              <ul class="lest item">
                <li><a class="active" href="/resume">Hồ Sơ Của Tôi</a></li>
                <li><a href="/bookmarked">Tin Tuyển Dụng Đã Lưu</a></li>
                <li><a href="/nortifications">Thông Báo <span class="notinumber">2</span></a></li>
              </ul>
              <h4>Manage Job</h4>
              <ul class="lest item">
                <li><a href="/manageapplications">Manage Applications</a></li>
                <li><a href="/jobalerts">Job Alerts</a></li>
              </ul>
              <ul class="lest">
                <li><a href="/changepassword">Change Password</a></li>
                <li><a href="/home">Sign Out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="inner-box my-resume">
            <div class="author-resume">
              <div class="thumb">
                <img src="assets/img/resume/img-1.jpg" alt="">
              </div>
              <div class="author-info">
                <h3><label>Mark Anderson</label></h3>
                <p class="sub-title"><label>Java Deverloper</label></p>
                <p><span class="address"><i class="ti-location-pin"></i><label>Hà Nội, Việt Nam</label></span> <span><i class="ti-phone"></i><label class="ti-mobile">(+84)09232322</label></span></p>


                <div class="social-link">
                  <a class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a>
                  <a class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook"></i></a>
                  <a class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-google"></i></a>
                  <a class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a>
                </div>

                <form class="subscribe-box">
                  <input type="submit" class="btn-system" value="Sửa Hồ Sơ">
                </form>
              </div>
            </div>

            <div class="about-me item">
              <h3>Thông Tin Hồ Sơ</h3>
              <div class="row">
                <div class="col-md-6">
                  <p>Ngành nghề: <span><label>IT</label></span> </p>
                </div>
                <div class="col-md-6">
                  <p>Trình độ học vấn: <label>Đại Học</label></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <p>Vị trí mong muốn: <label>DEV</label></p>
                </div>
                <div class="col-md-6">
                  <p>Mức lương mong muốn: <label>500$</label></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <p>Số năm kinh nghiệm: <label>5 năm</label></p>
                </div>
                <div class="col-md-6">
                  <p>Thời gian làm việc: <label>Full time</label></p>
                </div>
              </div>


            </div>

            <div class="about-me item">
              <h3>Kiến Thức Chuyên Môn</h3>
              <p>Lập trình Web sử dụng ngôn ngữ Java <br>
                Lập trình thành thạo với các ngôn ngũ HTML, JAVA</p>
            </div>

            <div class="about-me item">
              <h3>Mục Tiêu Nghề Nghiệp</h3>
              <p>
                Mong muốn tìm được chỗ làm ổn định lâu dài <br>
                Mong muốn tìm được chỗ làm có cơ hội thăng tiến tốt <br>
                Mong muốn tìm được nơi có cơ hội cống hiến bản thân tốt...
              </p>
            </div>

            <div class="about-me item">
              <h3>Học Vấn - Bằng Cấp</h3>
              <p>Thời gian làm việc: <label>Full time</label></p>
              <p>Ngành Học: <label>Khoa học máy tính</label></p>
              <p>Trường: <label>Đại học Bách Khoa Hà Nội</label></p>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <p>Thời gian bắt đầu: <label>9/2015</label></p>
                  </div>
                  <div class="col-md-6">
                    <p>Thời gian tốt nghiệp: <label>9/2019</label></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="about-me item">
              <h3>Kinh Nghiệm Làm Việc</h3>
              <p>Tên công ty: <label>VNPT</label></p>
              <p>Vị trí làm việc: <label>DEV</label></p>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <p>Thời gian bắt đầu: <label>9/2018</label></p>
                  </div>
                  <div class="col-md-6">
                    <p>Thời gian kết thúc: <label>2/2019</label></p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="textarea">Mô tả công việc</label>
                <textarea class="form-control" rows="7" disabled> Lập trình Web full stack, sử dụng các FrameWork Hibernate...</textarea>
              </div>
            </div>

            <div>
              <form class="subscribe-box">
                <input type="submit" class="btn-system" value="Sửa Hồ Sơ">
                <input type="submit" class="btn" value="Lưu Hồ Sơ" disabled>
                <input type="submit" class="btn" value="Hủy" disabled>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content -->

    <!-- Copyright Start  -->
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright End -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
  </a>

  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
        <div class="object" id="object_five"></div>
        <div class="object" id="object_six"></div>
        <div class="object" id="object_seven"></div>
        <div class="object" id="object_eight"></div>
      </div>
    </div>
  </div>
</body>
