<body>
  <!-- Start Content -->
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="inner-box my-resume">
            <div class="author-resume">
              <div class="thumb">
                <img src="assets/img/resume/img-1.jpg" alt="">
              </div>
              <div class="author-info">
                <h3><label>{{candidate.tenUngVien}}</label></h3>
                <p class="sub-title"><label>Java Deverloper</label></p>
                <p><span class="address"><i class="ti-location-pin"></i><label>{{candidate.diaChi}}</label></span><br><span><i class="ti-phone"></i><label class="ti-mobile">{{candidate.sdt}}</label></span></p>


                <div class="social-link">
                  <a class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a>
                  <a class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook"></i></a>
                  <a class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-google"></i></a>
                  <a class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a>
                </div>

                <form class="subscribe-box">
                  <input type="submit" class="btn-system" value="Sửa Hồ Sơ" onclick="location.href='/modifyresume/' + this.id;">
                </form>
              </div>
            </div>

            <div class="about-me item">
              <h3>Thông Tin Hồ Sơ</h3>
              <div class="row">
                <div class="col-md-6">
                  <p>Ngành nghề: <span><label>{{nganh}}</label></span> </p>
                </div>
                <div class="col-md-6">
                  <p>Trình độ học vấn: <label>Đại Học</label></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <p>Vị trí mong muốn: <label>DEV</label></p>
                </div>
                <div class="col-md-6">
                  <p>Mức lương mong muốn: <label>{{candidate.luongMongMuon}}$</label></p>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-md-6">
                  <p>Số năm kinh nghiệm: <label>5 năm</label></p>
                </div>
                <div class="col-md-6">
                  <p>Thời gian làm việc: <label>Full time</label></p>
                </div>
              </div> -->


            </div>

            <div class="about-me item">
              <h3>Kiến Thức Chuyên Môn</h3>
              <div *ngFor="let skill of candidate.kiNang">
                <p><span>Tên kĩ năng : </span><span>{{skill.kiNang.tenKiNang}}</span></p>
                <p><span>Số năm kinh nghiệm : </span><span>{{skill.soNamKinhNghiem}}</span></p>
                <br/>
              </div>
            </div>

            <div class="about-me item">
              <h3>Mục Tiêu Nghề Nghiệp</h3>
              <span style="white-space: pre">{{candidate.mucTieuNgheNghiep}}</span>
            </div>

            <div class="about-me item">
              <h3>Học Vấn - Bằng Cấp</h3>
              <div *ngFor="let lichSuHocTap of hocVan">
                  <p><span>Trường : </span><span>{{lichSuHocTap.daihoc}}</span></p>
                  <p><span>Ngành học : </span><span>{{lichSuHocTap.chuyennganh}}</span></p>
                  <p><span>GPA : </span><span>{{lichSuHocTap.GPA}}</span></p>
                  <div class="row">
                    <div class="col-md-6">
                      <p>Thời gian bắt đầu: <label>{{lichSuHocTap.batdau}}</label></p>
                    </div>
                    <div class="col-md-6">
                      <p>Thời gian tốt nghiệp: <label>{{lichSuHocTap.ketthuc}}</label></p>
                    </div>
                  </div>
                  <br/>
              </div>
            </div>

            <div class="about-me item">
              <h3>Kinh Nghiệm Làm Việc</h3>
              
              <div *ngFor="let lichSuLamViec of viecLam">
                  <p><span>Công ty : </span><span>{{lichSuLamViec.congTy}}</span></p>
                  <p><span>Vị trí : </span><span>{{lichSuLamViec.vitri}}</span></p>
                  <div class="row">
                    <div class="col-md-6">
                      <p>Thời gian bắt đầu: <label>{{lichSuLamViec.batdau}}</label></p>
                    </div>
                    <div class="col-md-6">
                      <p>Thời gian kết thúc: <label>{{lichSuLamViec.ketthuc}}</label></p>
                    </div>
                  </div>
                  <br/>
              </div>


              <div class="form-group">
                <label class="control-label" for="textarea">Mô tả công việc</label>
                <textarea class="form-control" rows="7" disabled> Lập trình Web full stack, sử dụng các FrameWork Hibernate...</textarea>
              </div>
            </div>

            <div>
              <form class="subscribe-box">
                <input type="submit" class="btn-system" value="Sửa Hồ Sơ">
                <input type="submit" class="btn" value="Lưu Hồ Sơ" disabled>
                <input type="submit" class="btn" value="Hủy" disabled>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content -->

    <!-- Copyright Start  -->
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright End -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
  </a>

  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
        <div class="object" id="object_five"></div>
        <div class="object" id="object_six"></div>
        <div class="object" id="object_seven"></div>
        <div class="object" id="object_eight"></div>
      </div>
    </div>
  </div>
</body>
