<body>
<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Chi tiết tin tuyển dụng</h2>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="ti-home"></i> Home</a></li>
                        <li class="current">Detail Job</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Job Detail Section Start -->
<section class="job-detail section">
  <div class="container">
    <div class="row">
      <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
        <!--<div  *ngIf="job.tenJob">-->
            <!--<div class="img-thum">-->
              <!--<img class="img-responsive" src="{{job.congTy.imgUrl}}" alt="" style="width:100px;height:100px;">-->
            <!--</div>-->
            <!--<div class="name">-->
              <!--<h4>{{job.congTy.tenCongTy}}</h4>-->
              <!--<h5><span><i class="ti-location-pin"></i>{{job.diaChi}}</span> </h5>-->
            <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="job.tenJob">
        <div>
        <div class="content-area">
          <div class="clearfix">
            <div class="box">
                <div align="center">
                    <h3>{{job.tenJob}}</h3>
                </div>
              <h4><b>Thông Tin Tuyển Dụng Nhanh</b></h4>
                <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p><b>Công ty: </b>   <a href="/companydetail/{{ job.congTy.congtyId }}">{{ job.congTy.tenCongTy }}</a></p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p><b>Địa chỉ: <span><i class="ti-location-pin"></i>{{job.diaChi}}</span></b></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p><b>Ngày đăng:</b><i class="ti-timer"></i> {{job.ngayDang}}</p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p><b>Lương: <strong class="price">{{job.luongToiThieu}}.00 USD - {{job.luongToiDa}}.00 USD</strong></b></p>
                    </div>
                </div>
              <div class="col-md-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Kinh Nghiệm:</b> {{job.knToiThieu}} năm</p>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Hình Thức Làm Việc: <span class="full-time">{{job.tgLamViec == 0 ? 'Full-Time' : (job.tgLamViec == 1 ? 'Part-Time' : '')}}</span></b></p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Chức Vụ: </b>{{job.chucVu1}} </p>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Yêu Cầu Giới Tính: </b>{{job.gioiTinh == 0 ? 'Không yêu cầu' : (job.gioiTinh == 1 ? 'Nhân viên nam' : (job.gioiTinh ==2 ? 'Nhân viên nữ' : ''))}}</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Yêu Cầu Bằng Cấp: </b></p>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Số Lượng Cần Tuyển: </b>{{job.soLuong}}</p>
                </div>
              </div>
              <h4><b>Mô Tả Công Việc.</b></h4>
              <p style="white-space: pre-wrap">{{job.chiTiet}}</p>
                <h4><b>Yêu Cầu Ứng Viên</b></h4>
                <p style="white-space: pre-wrap">{{job.yeuCauCongViec}}</p>
              <h4><b>Quyền Lợi Được Hưởng</b></h4>
              <p style="white-space: pre-wrap">{{job.quyenLoi}}</p>
              <h4><b>Yêu Cầu Hồ Sơ</b></h4>
              <p style="white-space: pre-wrap">{{job.yeuCauHoSo}}</p>
              <h4>Apply Job</h4>
                <div class="btn btn-common btn-rm" (click)="onApply(job)" *ngIf="appliedJobsId.indexOf(job.jobId) !== -1">Cancel Apply Job</div>
                <div class="btn btn-common btn-rm" (click)="onApply(job)" *ngIf="appliedJobsId.indexOf(job.jobId) == -1">Apply Job</div>
            </div>
          </div>
        </div>
        </div>

        <h2 class="medium-title">Related Jobs</h2>
        <div class="job-post-wrapper">
          <div class="row">
            <div *ngFor="let jobs of listJobRelate">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="job-list">
                  <div class="thumb">
                    <a href="job-details.html"><img src="{{jobs.congTy.imgUrl}}" alt="" style="width:100px;height:100px;"></a>
                  </div>
                  <div class="job-list-content">
                    <h4><a href="/jobdetail/{{jobs.jobId}}">{{jobs.tenJob}}</a></h4>
                    <p>{{jobs.congTy.tenCongTy}}</p>
                    <p>Thời Gian Làm Việc: <span class="full-time">{{jobs.tgLamViec == 1 ? 'Full-Time' : (jobs.tgLamViec == 0 ? 'Part-Time' : '')}}</span></p>
                    <div class="job-tag">
                      <div class="pull-left">
                        <div class="meta-tag">
                          <p> <span>Số Lượng:{{jobs.soLuong}}</span></p>
                          <p><span><i class="ti-location-pin"></i>{{jobs.diaChi}}</span></p>
                        </div>
                      </div>
                      <div class="pull-right">
                          <div class="icon">
                              <i class="ti-heart-broken" (click)="onBookmark(jobs)" *ngIf="savedJobsId.indexOf(jobs.jobId) == -1"></i>
                              <i class="ti-heart" (click)="onBookmark(jobs)" *ngIf="savedJobsId.indexOf(jobs.jobId) !== -1"></i>
                          </div>
                          <div class="btn btn-common btn-rm" (click)="onApply(jobs)" *ngIf="appliedJobsId.indexOf(jobs.jobId) !== -1">Cancel Apply Job</div>
                          <div class="btn btn-common btn-rm" (click)="onApply(jobs)" *ngIf="appliedJobsId.indexOf(jobs.jobId) == -1">Apply Job</div>
                      </div>
                    </div>
                  </div>

                </div>
             </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Job Detail Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="ti-arrow-up"></i>
</a>

<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
      <div class="object" id="object_five"></div>
      <div class="object" id="object_six"></div>
      <div class="object" id="object_seven"></div>
      <div class="object" id="object_eight"></div>
    </div>
  </div>
</div>
</body>
