<body>
<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Job Details</h2>
          <ol class="breadcrumb">
            <li><a href="#"><i class="ti-home"></i> Home</a></li>
            <li class="current">Job Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Job Detail Section Start -->
<section class="job-detail section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="header-detail">
          <div class="header-content pull-left">
            <h3><a href="#">{{job.tenJob}}</a></h3>
            <p><span>Date Posted: {{job.ngayDang}}</span></p>
            <p>Monthly Salary: <strong class="price">{{job.luongToiThieu}}.00 VNĐ - {{job.luongToiDa}}.00 VNĐ</strong></p>
          </div>
          <div class="detail-company pull-right text-right">
            <div class="img-thum">
              <img class="img-responsive" src="assets/img/jobs/recent-job-detail.jpg" alt="" width="80" height="46">
            </div>
            <div class="name">
              <h4>{{job.congTy.tenCongTy}}</h4>
              <h5><span><i class="ti-location-pin"></i>{{job.diaChi}}</span> </h5>
              <p>8 Current jobs openings</p>
            </div>
          </div>
          <!--<div class="clearfix">-->
            <!--<div class="meta">-->
              <!--<span><a class="btn btn-border btn-sm" href="#"><i class="ti-email"></i> Email</a></span>-->
              <!--<span><a class="btn btn-border btn-sm" href="#"><i class="ti-info-alt"></i> Job Aleart</a></span>-->
              <!--<span><a class="btn btn-border btn-sm" href="#"><i class="ti-save"></i> Save This job</a></span>-->
              <!--<span><a class="btn btn-border btn-sm" href="#"><i class="ti-alert"></i> Report Abuse</a></span>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div>
        <div class="content-area">
          <div class="clearfix">
            <div class="box">
              <h4><b>Thông Tin Tuyển Dụng Nhanh</b></h4>
              <div class="col-md-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Kinh Nghiệm:</b> {{job.knToiThieu}}</p>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Hình Thức Làm Việc: <span class="full-time">{{job.tgLamViec == 1 ? 'Full-Time' : (job.tgLamViec == 0 ? 'Part-Time' : '')}}</span></b></p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Chức Vụ: </b>{{job.chucVu1}} </p>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Yêu Cầu Giới Tính: </b>{{job.gioiTinh == 0 ? 'Không yêu cầu' : (job.gioiTinh == 1 ? 'Nhân viên nam' : (job.gioiTinh ==2 ? 'Nhân viên nữ' : ''))}}</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Yêu Cầu Bằng Cấp: </b></p>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p><b>Số Lượng Cần Tuyển: </b>{{job.soLuong}}</p>
                </div>
              </div>
              <h4><b>Mô Tả Công Việc.</b></h4>

              <!--<p>{{job.chiTiet}}</p>-->
              <span style="white-space: pre">{{job.chiTiet}}</span>
              <h4><b>Quyền Lợi Được Hưởng</b></h4>
              <span style="white-space: pre">{{job.quyenLoi}}</span>
              <h4><b>Yêu Cầu Công Việc</b></h4>
              <span style="white-space: pre">{{job.yeuCauCongViec}}</span>
              <h4><b>Yêu Cầu Hồ Sơ</b></h4>
              <span style="white-space: pre">{{job.yeuCauHoSo}}</span>
              <h4>Apply Job</h4>

              <a href="#" class="btn btn-common">Apply for this Job Now</a>
            </div>
          </div>
        </div>
        </div>

        <h2 class="medium-title">Related Jobs</h2>
        <div class="job-post-wrapper">
          <div class="row">
            <div *ngFor="let jobs of listJobRelate">
              <div class="col-md-12">
                <div class="job-list">
                  <div class="thumb">
                    <a href="job-details.html"><img src="assets/img/jobs/img-1.jpg" alt=""></a>
                  </div>
                  <div class="job-list-content">
                    <h4><a href="/jobdetail/{{jobs.jobId}}/{{jobs.nganh.nganhId}}">{{jobs.tenJob}}</a></h4>
                    <p>{{jobs.congTy.tenCongTy}}</p>
                    <p>Thời Gian Làm Việc: <span class="full-time">{{jobs.tgLamViec == 1 ? 'Full-Time' : (jobs.tgLamViec == 0 ? 'Part-Time' : '')}}</span></p>
                    <div class="job-tag">
                      <div class="pull-left">
                        <div class="meta-tag">
                          <span>Số Lượng:{{jobs.soLuong}}</span>
                          <span><i class="ti-location-pin"></i>{{jobs.diaChi}}</span>
                          <span><i class="ti-time"></i>60/Hour</span>
                        </div>
                      </div>
                      <div class="pull-right">
                        <div class="icon">
                          <i class="ti-heart"></i>
                        </div>
                        <div class="btn btn-common btn-rm">Apply Job</div>
                      </div>
                    </div>
                  </div>

                </div>
             </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <aside>
          <div class="sidebar">
            <div class="box">
              <h2 class="small-title">Job Details</h2>
              <ul class="detail-list">
                <li>
                  <a href="#">Job Id</a>
                  <span class="type-posts">Jb1246789</span>
                </li>
                <li>
                  <a href="#">Location</a>
                  <span class="type-posts">New York, NY</span>
                </li>
                <li>
                  <a href="#">Company</a>
                  <span class="type-posts">LemonKids LLC</span>
                </li>
                <li>
                  <a href="#">Type</a>
                  <span class="type-posts">Private</span>
                </li>
                <li>
                  <a href="#">Employment Status</a>
                  <span class="type-posts">Permanent</span>
                </li>
                <li>
                  <a href="#">Employment Type</a>
                  <span class="type-posts">Manager</span>
                </li>
                <li>
                  <a href="#">Positions</a>
                  <span class="type-posts">5</span>
                </li>
                <li>
                  <a href="#">Career Level</a>
                  <span class="type-posts">Experience</span>
                </li>
                <li>
                  <a href="#">Experience</a>
                  <span class="type-posts">3 Years</span>
                </li>
                <li>
                  <a href="#">Gender</a>
                  <span class="type-posts">Male</span>
                </li>
                <li>
                  <a href="#">Nationality</a>
                  <span class="type-posts">United States</span>
                </li>
                <li>
                  <a href="#">Degree</a>
                  <span class="type-posts">Masters</span>
                </li>
              </ul>
            </div>
            <div class="box">
              <h2 class="small-title">Featured Jobs</h2>
              <div class="thumb">
                <a href="#"><img src="assets/img/jobs/features-img-1.jpg" alt="img"></a>
              </div>
              <div class="text-box">
                <h4><a href="#">Web Development</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. maiores aperiam quam perspiciatis.</p>
                <a href="#" class="text"><i class="fa fa-map-marker"></i>Moorgate, London</a>
                <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 22, 2017 - Mar 17, 2018 </a>
                <strong class="price"><i class="fa fa-money"></i>$4000 - $5000</strong>
                <a href="#" class="btn btn-common btn-sm">Apply for this Job</a>
              </div>
            </div>
            <div class="sidebar-jobs box">
              <h2 class="small-title">Jobs Gallery</h2>
              <ul>
                <li>
                  <a href="#">General Compliance Officer</a>
                  <span><i class="fa fa-map-marker"></i>Arlington, VA </span>
                  <span><i class="fa fa-calendar"></i>Dec 22, 2017 - Mar 17, 2018 </span>
                </li>
                <li>
                  <a href="#">Medical Transcrption</a>
                  <span><i class="fa fa-map-marker"></i>San Francisco, CA</span>
                  <span><i class="fa fa-calendar"></i>Dec 22, 2017 - Mar 17, 2018 </span>
                </li>
                <li>
                  <a href="#">Support Coordinator</a>
                  <span><i class="fa fa-map-marker"></i>Moorgate, London</span>
                  <span><i class="fa fa-calendar"></i>Dec 22, 2017 - Mar 17, 2018 </span>
                </li>

              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- Job Detail Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="ti-arrow-up"></i>
</a>

<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
      <div class="object" id="object_five"></div>
      <div class="object" id="object_six"></div>
      <div class="object" id="object_seven"></div>
      <div class="object" id="object_eight"></div>
    </div>
  </div>
</div>
</body>
