<body>
<!-- Start Content -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="right-sideabr">
                    <div class="inner-box">
                        <h4>Quản lý tài khoản</h4>
                        <ul class="lest item">
                            <li><a href="/modifycompany/{{this.account.id}}">Cập nhật thông tin</a></li>
                            <li><a href="/nortifications">Thông báo <span class="notinumber">{{numberOfNotifyTinder}}</span></a></li>
                        </ul>
                        <h4>Quản lý công việc</h4>
                        <ul class="lest item">
                            <li><a href="/managejob">Quản lý tin đăng tuyển</a></li>
                            <li><a href="/manageapplications">Quản lý đơn xin việc<span class="notinumber">{{numberOfNotify}}</span></a></li>
                            <li><a href="/savedcandidate">Ứng viên đã lưu</a></li>
                        </ul>
                        <ul class="lest">
                            <li><a href="/changepassword">Đổi mật khẩu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="job-alerts-item">
                    <h3 class="alerts-title">Quản lý tin đăng tuyển</h3>
                    <hr>
                    <div *ngFor="let jobs of listJobOfCompany | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">
                        <div class="applications-content">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="thums">

                                        <img style="width:120px;height:100px;" src="{{ jobs.congTy.imgUrl }}" alt=""/>

                                    </div>
                                    <h3><a href="/managejobdetail/{{jobs.jobId}}">{{jobs.tenJob}}</a></h3>
                                    <span>Ngày kết thúc: {{jobs.hanCuoi}}</span>
                                </div>
                                <div class="col-md-3">
                                    <p><span class="full-time">{{jobs.tgLamViec == 1 ? 'Full-Time' : (jobs.tgLamViec == 0 ? 'Part-Time' : '')}}</span></p>
                                </div>
                                <div class="col-md-2">
                                    <p>{{jobs.ngayDang}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p><span>{{jobs.trangThai == 0 ? 'Đang chờ duyệt' : (jobs.trangThai == 1 ? 'Đã được đăng' : (jobs.trangThai ==2 ? 'Bị từ chối' : ''))}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="listJobOfCompany.length" *ngIf="listJobOfCompany"></ngb-pagination>
                    <!-- Start Pagination -->
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->

<!-- Copyright Start  -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
</a>

<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
            <div class="object" id="object_five"></div>
            <div class="object" id="object_six"></div>
            <div class="object" id="object_seven"></div>
            <div class="object" id="object_eight"></div>
        </div>
    </div>
</div>
</body>
