<body>
  <section class="section-intro">
    <div class="search-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Tìm việc làm ngay bây giờ</h1><br><h2>Có <strong>12,000</strong> công việc đang chờ bạn!</h2>
            <div class="content">
              <form [formGroup]="searchJobForm" (ngSubmit)="onSubmit(buttonType)" ngNativeValidate>
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Ngành nghề / Từ khóa / Tên công ty" formControlName="keyword" id="keyword">
                      <i class="ti-time"></i>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <input class="form-control" type="email" placeholder="Địa điểm" formControlName="location" id="location">
                      <i class="ti-location-pin"></i>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="search-category-container">
                      <label class="styled-select">
                        <select class="dropdown-product selectpicker" formControlName="career" id="career" >
                          <option>Tất cả các ngành</option>
                          <option>Tài chính</option>
                          <option>Công nghệ thông tin</option>
                          <option>Giáo dục</option>
                          <option>Thiết kế</option>
                          <option>Kinh doanh</option>
                          <option>Y tế</option>
                          <option>Khoa học</option>
                          <option>Dịch vụ ăn uống</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-6">
                    <button type="button" class="btn btn-search-icon" (click)="onSubmit('Search')"><i class="ti-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="popular-jobs">
              <b>Popular Keywords: </b>
              <a href="#">Thiết kế web</a>
              <a href="#">Quản lý</a>
              <a href="#">Lập trình</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end intro section -->]

<!-- Find Job Section Start -->
<section class="find-job section">
  <div class="container">
    <h2 class="section-title">Hot Jobs</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="job-list">
          <div class="thumb">
            <a href="job-details.html"><img src="assets/img/jobs/img-1.jpg" alt=""></a>
          </div>
          <div class="job-list-content">
            <h4><a href="job-details.html">Need a web designer</a><span class="full-time">Full-Time</span></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta reprehenderit, officiis, praesentium?</p>
            <div class="job-tag">
              <div class="pull-left">
                <div class="meta-tag">
                  <span><a href="browse-categories.html"><i class="ti-brush"></i>Art/Design</a></span>
                  <span><i class="ti-location-pin"></i>Washington, USA</span>
                  <span><i class="ti-time"></i>60/Hour</span>
                </div>
              </div>
              <div class="pull-right">
                <div class="icon">
                  <i class="ti-heart"></i>
                </div>
                <a href="job-details.html" class="btn btn-common btn-rm">Apply Job</a>
              </div>
            </div>
          </div>
        </div>
        <div class="job-list">
          <div class="thumb">
            <a href="job-details.html"><img src="assets/img/jobs/img-2.jpg" alt=""></a>
          </div>
          <div class="job-list-content">
            <h4><a href="job-details.html">Front-end developer needed</a><span class="full-time">Full-Time</span></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta reprehenderit, officiis, praesentium?</p>
            <div class="job-tag">
              <div class="pull-left">
                <div class="meta-tag">
                  <span><a href="browse-categories.html"><i class="ti-desktop"></i>Technologies</a></span>
                  <span><i class="ti-location-pin"></i>Cupertino, CA, USA</span>
                  <span><i class="ti-time"></i>60/Hour</span>
                </div>
              </div>
              <div class="pull-right">
                <div class="icon">
                  <i class="ti-heart"></i>
                </div>
                <a href="job-details.html" class="btn btn-common btn-rm">Apply Job</a>
              </div>
            </div>
          </div>
        </div>
        <div class="job-list">
          <div class="thumb">
            <a href="job-details.html"><img src="assets/img/jobs/img-3.jpg" alt=""></a>
          </div>
          <div class="job-list-content">
            <h4><a href="job-details.html">Senior Accountant</a><span class="part-time">Part-Time</span></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta reprehenderit, officiis, praesentium?</p>
            <div class="job-tag">
              <div class="pull-left">
                <div class="meta-tag">
                  <span><a href="browse-categories.html"><i class="ti-home"></i>Finance</a></span>
                  <span><i class="ti-location-pin"></i>Delaware, USA</span>
                  <span><i class="ti-time"></i>60/Hour</span>
                </div>
              </div>
              <div class="pull-right">
                <div class="icon">
                  <i class="ti-heart"></i>
                </div>
                <a href="job-details.html" class="btn btn-common btn-rm">Apply Job</a>
              </div>
            </div>
          </div>
        </div>
        <div class="job-list">
          <div class="thumb">
            <a href="job-details.html"><img src="assets/img/jobs/img-4.jpg" alt=""></a>
          </div>
          <div class="job-list-content">
            <h4><a href="job-details.html">Fullstack web developer needed</a><span class="full-time">Full-Time</span></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta reprehenderit, officiis, praesentium?</p>
            <div class="job-tag">
              <div class="pull-left">
                <div class="meta-tag">
                  <span><a href="browse-categories.html"><i class="ti-desktop"></i>Technologies</a></span>
                  <span><i class="ti-location-pin"></i>New York, USA</span>
                  <span><i class="ti-time"></i>60/Hour</span>
                </div>
              </div>
              <div class="pull-right">
                <div class="icon">
                  <i class="ti-heart"></i>
                </div>
                <a href="job-details.html" class="btn btn-common btn-rm">Apply Job</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="showing pull-left">
          <a href="#">Showing <span>6-10</span> Of 24 Jobs</a>
        </div>
        <ul class="pagination pull-right">
          <li class="active"><a href="#" class="btn btn-common" ><i class="ti-angle-left"></i> prev</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li class="active"><a href="#" class="btn btn-common">Next <i class="ti-angle-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Find Job Section End -->

<!-- Category Section Start -->
<section class="category section" >
  <div class="container">
    <h2 class="section-title">Ngành nghề</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-3 col-xs-12 f-category">
          <a href="browse-jobs.html">
            <div class="icon">
              <i class="ti-home"></i>
            </div>
            <h3>Tài chính</h3>
            <p>4286 jobs</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 f-category">
          <a href="browse-jobs.html">
            <div class="icon">
              <i class="ti-world"></i>
            </div>
            <h3>Kinh doanh</h3>
            <p>2000 jobs</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 f-category">
          <a href="browse-jobs.html">
            <div class="icon">
              <i class="ti-book"></i>
            </div>
            <h3>Giáo dục</h3>
            <p>1450 jobs</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 f-category">
          <a href="browse-jobs.html">
            <div class="icon">
              <i class="ti-desktop"></i>
            </div>
            <h3>Công nghệ</h3>
            <p>5100 jobs</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 f-category">
          <a href="browse-jobs.html">
            <div class="icon">
              <i class="ti-brush"></i>
            </div>
            <h3>Thiết kế</h3>
            <p>5079 jobs</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 f-category">
          <a href="browse-jobs.html">
            <div class="icon">
              <i class="ti-heart"></i>
            </div>
            <h3>Y tế</h3>
            <p>3235 jobs</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 f-category">
          <a href="browse-jobs.html">
            <div class="icon">
              <i class="ti-filter"></i>
            </div>
            <h3>Khoa học</h3>
            <p>1800 jobs</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 f-category">
          <a href="browse-jobs.html">
            <div class="icon">
              <i class="ti-cup"></i>
            </div>
            <h3>Dịch vụ ăn uống</h3>
            <p>4286 jobs</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category Section End -->

<!-- Featured Jobs Section Start -->
<section class="featured-jobs section">
  <div class="container">
    <h2 class="section-title">
      Featured Jobs
    </h2>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="featured-item">
          <div class="featured-wrap">
            <div class="featured-inner">
              <figure class="item-thumb">
                <a class="hover-effect" href="job-page.html">
                  <img src="assets/img/features/img-1.jpg" alt="">
                </a>
              </figure>
              <div class="item-body">
                <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
              </div>
            </div>
          </div>
          <div class="item-foot">
            <span><i class="ti-calendar"></i> 4 months ago</span>
            <span><i class="ti-time"></i> Full Time</span>
            <div class="view-iocn">
              <a href="job-page.html"><i class="ti-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="featured-item">
          <div class="featured-wrap">
            <div class="featured-inner">
              <figure class="item-thumb">
                <a class="hover-effect" href="job-page.html">
                  <img src="assets/img/features/img-2.jpg" alt="">
                </a>
              </figure>
              <div class="item-body">
                <h3 class="job-title"><a href="job-page.html">Software Engineer</a></h3>
                <div class="adderess"><i class="ti-location-pin"></i> Delaware, United States</div>
              </div>
            </div>
          </div>
          <div class="item-foot">
            <span><i class="ti-calendar"></i> 5 months ago</span>
            <span><i class="ti-time"></i> Part Time</span>
            <div class="view-iocn">
              <a href="job-page.html"><i class="ti-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="featured-item">
          <div class="featured-wrap">
            <div class="featured-inner">
              <figure class="item-thumb">
                <a class="hover-effect" href="job-page.html">
                  <img src="assets/img/features/img-3.jpg" alt="">
                </a>
              </figure>
              <div class="item-body">
                <h3 class="job-title"><a href="job-page.html">Managing Director</a></h3>
                <div class="adderess"><i class="ti-location-pin"></i> NY, United States</div>
              </div>
            </div>
          </div>
          <div class="item-foot">
            <span><i class="ti-calendar"></i> 3 months ago</span>
            <span><i class="ti-time"></i> Full Time</span>
            <div class="view-iocn">
              <a href="job-page.html"><i class="ti-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="featured-item">
          <div class="featured-wrap">
            <div class="featured-inner">
              <figure class="item-thumb">
                <a class="hover-effect" href="job-page.html">
                  <img src="assets/img/features/img-3.jpg" alt="">
                </a>
              </figure>
              <div class="item-body">
                <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                <div class="adderess"><i class="ti-location-pin"></i> Washington, United States</div>
              </div>
            </div>
          </div>
          <div class="item-foot">
            <span><i class="ti-calendar"></i> 1 months ago</span>
            <span><i class="ti-time"></i> Part Time</span>
            <div class="view-iocn">
              <a href="job-page.html"><i class="ti-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="featured-item">
          <div class="featured-wrap">
            <div class="featured-inner">
              <figure class="item-thumb">
                <a class="hover-effect" href="job-page.html">
                  <img src="assets/img/features/img-2.jpg" alt="">
                </a>
              </figure>
              <div class="item-body">
                <h3 class="job-title"><a href="job-page.html">Software Engineer</a></h3>
                <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
              </div>
            </div>
          </div>
          <div class="item-foot">
            <span><i class="ti-calendar"></i> 6 months ago</span>
            <span><i class="ti-time"></i> Full Time</span>
            <div class="view-iocn">
              <a href="job-page.html"><i class="ti-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="featured-item">
          <div class="featured-wrap">
            <div class="featured-inner">
              <figure class="item-thumb">
                <a class="hover-effect" href="job-page.html">
                  <img src="assets/img/features/img-1.jpg" alt="">
                </a>
              </figure>
              <div class="item-body">
                <h3 class="job-title"><a href="job-page.html">Managing Director</a></h3>
                <div class="adderess"><i class="ti-location-pin"></i> NY, United States</div>
              </div>
            </div>
          </div>
          <div class="item-foot">
            <span><i class="ti-calendar"></i> 7 months ago</span>
            <span><i class="ti-time"></i> Part Time</span>
            <div class="view-iocn">
              <a href="job-page.html"><i class="ti-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Jobs Section End -->

<!-- Start Purchase Section -->
<section class="section purchase" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="section-content text-center">
        <h1 class="title-text">
          Looking for a Job
        </h1>
        <p>Join thousand of employers and earn what you deserve!</p>
        <a href="my-account.html" class="btn btn-common">Get Started Now</a>
      </div>
    </div>
  </div>
</section>
<!-- End Purchase Section -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="ti-arrow-up"></i>
</a>

<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
      <div class="object" id="object_five"></div>
      <div class="object" id="object_six"></div>
      <div class="object" id="object_seven"></div>
      <div class="object" id="object_eight"></div>
    </div>
  </div>
</div>
</body>
