<body>
    <section class="section-intro">
        <div class="search-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Tìm việc làm ngay bây giờ</h1>
                        <br />
                        <h2>Có <strong>12,000</strong> công việc đang chờ bạn!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end intro section -->]

    <!-- Find Job Section Start -->
    <!-- <section class="find-job section">
  <div class="container">
    <h2 class="section-title">Hot Jobs</h2>
    <div class="row">
        <div *ngFor="let jobs of jobList | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">
      <div class="col-md-12">
        <div class="job-list">
          <div class="thumb">
            <a href="/jobdetail/{{ jobs.jobId }}/{{ jobs.nganh.nganhId }}"><img src="assets/img/jobs/img-2.jpg" alt=""></a>
          </div>
          <div class="job-list-content">
            <h4><a href="/jobdetail/{{ jobs.jobId }}/{{ jobs.nganh.nganhId }}">{{jobs.tenJob}}</a><span class="full-time">{{jobs.tgLamViec == 1 ? 'Full-Time' : (jobs.tgLamViec == 0 ? 'Part-Time' : '')}}</span></h4>
            <p>{{jobs.chiTiet}}</p>
            <div class="job-tag">
              <div class="pull-left">
                <div class="meta-tag">
                  <span><a href="browse-categories.html"><i class="ti-desktop"></i>Technologies</a></span>
                  <span><i class="ti-location-pin"></i>{{jobs.diaChi}}</span>
                </div>
              </div>
              <div class="pull-right">
                <div class="icon">
                  <i class="ti-heart"></i>
                </div>
                <a href="job-details.html" class="btn btn-common btn-rm">Apply Job</a>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="jobList.length"></ngb-pagination>
      <div class="col-md-12">
        <div class="showing pull-left">
          <a href="#">Showing <span>6-10</span> Of 24 Jobs</a>
        </div>
        <ul class="pagination pull-right">
          <li class="active"><a href="#" class="btn btn-common" ><i class="ti-angle-left"></i> prev</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li class="active"><a href="#" class="btn btn-common">Next <i class="ti-angle-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
    <!-- Find Job Section End -->

    <!-- Featured Jobs Section Start -->
    <section class="featured-jobs section">
        <div class="container">
            <h2 class="section-title">
                Featured Jobs
            </h2>
            <div class="row">
                <div *ngFor="let jobs of jobList | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item" style="height:450px;">
                            <div class="featured-wrap" style="height:350px;">
                                <div class="featured-inner">
                                    <figure class="item-thumb">
                                        <a class="hover-effect" href="/jobdetail/{{ jobs.jobId }}/{{ jobs.nganh.nganhId }}">
                                            <img src="assets/img/features/img-1.jpg" alt="" />
                                        </a>
                                    </figure>
                                    <div class="item-body">
                                        <h3 class="job-title">
                                            <a href="/jobdetail/{{ jobs.jobId }}/{{ jobs.nganh.nganhId }}">{{ jobs.tenJob }}</a>
                                        </h3>
                                        <div class="adderess"><i class="ti-location-pin"></i> {{ jobs.diaChi }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-foot">
                                <p><span><i class="ti-calendar"></i> {{ jobs.hanCuoi }}</span>
                                   <span><i class="ti-time"></i> {{ jobs.tgLamViec == 1 ? "Full-Time" : jobs.tgLamViec == 0 ? "Part-Time" : "" }}</span></p>
                                <p><span>{{jobs.soLuongView}} lượt view</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="jobList.length" *ngIf="jobList"></ngb-pagination>
        </div>
    </section>
    <!-- Featured Jobs Section End -->

    <!-- Category Section Start -->
    <section class="category section">
        <div class="container">
            <h2 class="section-title">Ngành nghề</h2>
            <div class="row">
                <div *ngFor="let major of majorList | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
                    <div class="col-md-3 col-sm-3 col-xs-12 f-category">
                        <a href="browse-jobs.html">
                            <div class="icon">
                                <i class="ti-home"></i>
                            </div>
                            <h3>{{ major.tenNganh }}</h3>
                            <p>{{ major.tinTuyenDung.length }} jobs</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Section End -->

    <!-- Start Purchase Section -->
    <section class="section purchase" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="section-content text-center">
                    <h1 class="title-text">
                        Looking for a Job
                    </h1>
                    <p>Join thousand of employers and earn what you deserve!</p>
                    <a href="my-account.html" class="btn btn-common">Get Started Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Purchase Section -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="ti-arrow-up"></i>
    </a>

    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
                <div class="object" id="object_five"></div>
                <div class="object" id="object_six"></div>
                <div class="object" id="object_seven"></div>
                <div class="object" id="object_eight"></div>
            </div>
        </div>
    </div>
</body>
