<body>
    <!-- Start Content -->
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Chi tiết công ty</h2>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="ti-home"></i> Home</a></li>
                            <li class="current">Detail Company</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="inner-box my-resume" *ngIf="company">
              <div class="author-resume">
                <div class="thumb">
                  <img src="{{company.imgUrl}}" style="width:120px;height:120px;"  alt="">
                </div>
                <div class="author-info">
                  <h3><label>{{company.tenCongTy}}</label></h3>
                  <p><span class="address"><i class="ti-location-pin"></i><label>{{company.diaChi}}</label></span><br><span><i class="ti-phone"></i><label class="ti-mobile">{{company.sdt}}</label></span></p>

                  <form class="subscribe-box" *ngIf="account.authorities[0] === 'ROLE_EMPLOYER'">
                    <input type="submit" class="btn-system" value="Sửa Hồ Sơ" (click)="toModifyCompany()">
                  </form>
                </div>
              </div>

              <div class="about-me item">
                <h3>Mô tả</h3>
                <p style="white-space: pre-wrap">{{company.moTa}}</p>
              </div>
              <div class="about-me item">
                <h3>Phúc lợi</h3>
                <p style="white-space: pre-wrap">{{company.phucLoi}}</p>
              </div>
              <div class="about-me item">
                <h3>Quy mô</h3>
                <p style="white-space: pre-wrap">{{company.quyMo}} nhân viên</p>
              </div>
                <div *ngIf="account.authorities[0] === 'ROLE_CANDIDATE' && company">
                    <div class="btn btn-common btn-rm" (click)="onSave(company)" *ngIf="savedCompanyId.indexOf(company.congtyId) !== -1">Bỏ Quan Tâm</div>
                    <div class="btn btn-common btn-rm" (click)="onSave(company)" *ngIf="savedCompanyId.indexOf(company.congtyId) == -1">Quan Tâm</div>
                </div>
              </div>


          </div>
          </div>
        </div>
    </div>
    <!-- End Content -->
    <div class="container">
        <div class="row">
            <h2 class="section-title">Danh sách tuyển dụng của công ty</h2>
            <div *ngIf="listJobOfCompany==null"><h3>Hiện tại công ty không tuyển dụng</h3></div>
            <hr>

            <div *ngFor="let jobs of listJobOfCompany | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="job-list"  style="height:340px;width:100%;">
                        <div class="thumb">
                            <a href="/jobdetail/{{ jobs.jobId }}"><img style="width:100px;height:100px;" src="{{ jobs.congTy.imgUrl }}" alt=""/></a>
                        </div>
                        <div class="job-list-content">
                            <h4>
                                <a href="/jobdetail/{{ jobs.jobId }}">{{ jobs.tenJob }}</a>
                            </h4>
                            <p>
                                <a href="/companydetail/{{ jobs.congTy.congtyId }}">{{ jobs.congTy.tenCongTy }}</a>
                            </p>
                            <p>
                                Thời Gian Làm Việc: <span class="full-time">{{ jobs.tgLamViec == 1 ? "Full-Time" : jobs.tgLamViec == 0 ? "Part-Time" : "" }}</span>
                            </p>
                            <div class="job-tag" >
                                <div class="pull-left">
                                    <div class="meta-tag">
                                        <p><span>Số Lượng:{{ jobs.soLuong }}</span></p>
                                        <p><span><i class="ti-location-pin"></i>{{ jobs.diaChi }}</span></p>
                                        <!-- <p><span><i class="ti-time"></i>60/Hour</span></p> -->
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="icon">
                                        <i class="ti-heart-broken" (click)="onBookmark(jobs)" *ngIf="savedJobsId.indexOf(jobs.jobId) == -1"></i>
                                        <i class="ti-heart" (click)="onBookmark(jobs)" *ngIf="savedJobsId.indexOf(jobs.jobId) !== -1"></i>
                                    </div>
                                    <div class="btn btn-common btn-rm" (click)="onApply(jobs)" *ngIf="appliedJobsId.indexOf(jobs.jobId) !== -1">Cancel Apply Job</div>
                                    <div class="btn btn-common btn-rm" (click)="onApply(jobs)" *ngIf="appliedJobsId.indexOf(jobs.jobId) == -1">Apply Job</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="listJobOfCompany.length" *ngIf="listJobOfCompany"></ngb-pagination>
    </div>
      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="ti-arrow-up"></i>
    </a>

    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
          <div class="object" id="object_five"></div>
          <div class="object" id="object_six"></div>
          <div class="object" id="object_seven"></div>
          <div class="object" id="object_eight"></div>
        </div>
      </div>
    </div>
  </body>
