<body>
    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="inner-box my-resume">
              <div class="author-resume">
                <div class="thumb" style="width:100px;height:100px;" >
                  <!-- <img src="{{candidate.imgUrl}}" alt=""> -->
                </div>
                <div class="author-info">
                  <h3><label>{{company.tenUngVien}}</label></h3>
                  <p class="sub-title"><label>Java Deverloper</label></p>
                  <p><span class="address"><i class="ti-location-pin"></i><label>{{company.diaChi}}</label></span><br><span><i class="ti-phone"></i><label class="ti-mobile">{{company.sdt}}</label></span></p>

                  <form class="subscribe-box">
                    <input type="submit" class="btn-system" value="Sửa Hồ Sơ" (click)="toModifyResume()">
                  </form>
                </div>
              </div>

              <div class="about-me item">
                <h3>Mục Tiêu Nghề Nghiệp</h3>
                <span style="white-space: pre">{{candidate.mucTieuNgheNghiep}}</span>
              </div>


                <div class="form-group">
                  <label class="control-label" for="textarea">Mô tả công việc</label>
                  <textarea class="form-control" rows="7" disabled> </textarea>
                </div>
              </div>

            </div>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
    </div>
    <!-- End Content -->

      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="ti-arrow-up"></i>
    </a>

    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
          <div class="object" id="object_five"></div>
          <div class="object" id="object_six"></div>
          <div class="object" id="object_seven"></div>
          <div class="object" id="object_eight"></div>
        </div>
      </div>
    </div>
  </body>
