<body>
    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="inner-box my-resume">
              <div class="author-resume">
                <div class="thumb">
                  <img src="{{company.imgUrl}}" style="width:100px;height:100px;"  alt="">
                </div>
                <div class="author-info">
                  <h3><label>{{company.tenCongTy}}</label></h3>
                  <!-- <p class="sub-title"><label>Java Deverloper</label></p> -->
                  <p><span class="address"><i class="ti-location-pin"></i><label>{{company.diaChi}}</label></span><br><span><i class="ti-phone"></i><label class="ti-mobile">{{company.sdt}}</label></span></p>

                  <form class="subscribe-box" *ngIf="account.authorities[0] === 'ROLE_EMPLOYER'">
                    <input type="submit" class="btn-system" value="Sửa Hồ Sơ" (click)="toModifyCompany()">
                  </form>
                </div>
              </div>

              <div class="about-me item">
                <h3>Mô tả</h3>
                <p style="white-space: pre-wrap">{{company.moTa}}</p>
              </div>
              <div class="about-me item">
                <h3>Phúc lợi</h3>
                <p style="white-space: pre-wrap">{{company.phucLoi}}</p>
              </div>
              <div class="about-me item">
                <h3>Quy mô</h3>
                <p style="white-space: pre-wrap">{{company.quyMo}} nhân viên</p>
              </div>
              </div>

            </div>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
    </div>
    <!-- End Content -->

      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="ti-arrow-up"></i>
    </a>

    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
          <div class="object" id="object_five"></div>
          <div class="object" id="object_six"></div>
          <div class="object" id="object_seven"></div>
          <div class="object" id="object_eight"></div>
        </div>
      </div>
    </div>
  </body>
