<body>
  <!-- Start Content -->
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="right-sideabr">
            <div class="inner-box">
              <h4>Quản lý tài khoản</h4>
              <ul class="lest item">
                <li><a href="/manageresumes">Quản lý hồ sơ</a></li>
                <li><a href="/bookmarkedjob">Công việc đã lưu</a></li>
                <li><a href="/savedcompany">Công ty đã lưu</a></li>
              </ul>
              <h4>Quản lý công việc</h4>
              <ul class="lest item">
                  <li><a href="/appliedjobs">Quản lý đơn xin việc</a></li>
                  <li><a href="/candidatenotification">Thông báo <span class="notinumber">{{notificationCount}}</span></a></li>
              </ul>
              <ul class="lest">
                <li><a href="/changepassword">Đổi mật khẩu</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12" *ngIf="candidate && showCandidate">
          <div class="job-alerts-item candidates">
            <h3 class="alerts-title">Quản lý hồ sơ</h3>
            <div class="manager-resumes-item">
              <div class="manager-content">
                <a href="/resume/{{this.id}}"><img class="resume-thumb" src="{{candidate.imgUrl}}" style="width:100px;height:100px;" alt=""></a>
                <div class="manager-info">
                  <div class="manager-name">
                    <h4><a href="/resume/{{this.id}}">{{candidate.tenUngVien}}</a></h4>
                    <h5>Front-end developer</h5>
                  </div>
                  <div class="manager-meta">
                    <span class="location"><i class="ti-location-pin"></i>{{candidate.diaChi}}</span>
                    <span class="rate"><i class="ti-money"></i>{{candidate.luongMongMuon}}</span>
                  </div>
                </div>
              </div>
              <div class="update-date">
                <p class="status">
                  <strong>Updated on:</strong> {{candidate.modifyDate}}
                </p>
                <div class="action-btn">
                  <a class="btn btn-xs btn-gray" href="/modifyresume/{{this.id}}">Edit</a>
                </div>
                  <div class="action-btn">
                      <a class="btn btn-xs btn-gray" href="/resume/{{this.id}}">View</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content -->

    <!-- Copyright Start  -->
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>All Rights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="#">You</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright End -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
  </a>

  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
        <div class="object" id="object_five"></div>
        <div class="object" id="object_six"></div>
        <div class="object" id="object_seven"></div>
        <div class="object" id="object_eight"></div>
      </div>
    </div>
  </div>
</body>
